h1{
	text-transform: uppercase;
	font-style: italic;
	font-weight: 900;
	font-family: fantasy,monospace;
	letter-spacing:20px;
		line-height:60px;
		vertical-align: center;
		text-align: right;
		text-decoration: line-through;

}

div.caixa{
	border:1px dashed red;
	width: 50%;
	margin:50px 30px 100px 120px ;
	padding:30px;
	float: left;
}

body div.logo{
	width:30px;
	float: right;


	}
